@model STSys.Core.Admin.Abstractions.Entities.ColumnEntity
@using STSys.Core.Admin.Application.Extensions
@{
    Layout = "~/Views/Shared/_Pop.cshtml";
}
<section class="wrapper">
    <!-- BEGIN ROW  -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" data-ajax="true" data-ajax-method="post" data-ajax-success="formSuccess" asp-controller="Recommend" asp-action="Edit" method="post">
                        <div class="form-group">
                            <label for="ColumnName" class="col-lg-2 col-sm-2 control-label">栏目名称</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(s => s.ColumnName, new { @class = "col-xs-10 col-sm-5 form-control {required:true,maxlength:50,messages:{required:'必填',maxlength:'最大长度不超过50个字符'}}" })
                                @Html.ValidationMessageFor(s => s.ColumnName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ColumnName" class="col-lg-2 col-sm-2 control-label">栏目标识</label>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(s => s.ColumnEName, DropDownListEntensions.ColumnIdentify(), new { @class = "form-control col-xs-10 col-sm-5 {required:true,maxlength:50,messages:{maxlength:'最大长度不超过50个字符'}}" })
                                @Html.ValidationMessageFor(s => s.ColumnEName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ColumnName" class="col-lg-2 col-sm-2 control-label">排序</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(s => s.Sort, new { @class = "form-control col-xs-10 col-sm-5 {digits:true}", @Value = 0 })
                                @Html.ValidationMessageFor(s => s.Sort)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ColumnName" class="col-lg-2 col-sm-2 control-label">栏目数据源</label>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(s => s.DataSource, DropDownListEntensions.CommonEnum<E_Column_DataSource>(), new { @class = "form-control col-xs-10 col-sm-5" })
                                @Html.ValidationMessageFor(s => s.DataSource)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ColumnName" class="col-lg-2 col-sm-2 control-label">栏目归属于</label>
                            <div class="col-lg-8">
                                @Html.DropDownListFor(s => s.Source, DropDownListEntensions.CommonEnum<E_Column_Source>(), new { @class = "form-control col-xs-10 col-sm-5" })
                                @Html.ValidationMessageFor(s => s.Source)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ColumnName" class="col-lg-2 col-sm-2 control-label">跳转URL地址</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(s => s.Url, new { @class = "form-control col-xs-10 col-sm-5 {maxlength:250,messages:{required:'必填',maxlength:'最大长度不超过250个字符'}}" })
                                @Html.ValidationMessageFor(s => s.Url)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ColumnName" class="col-lg-2 col-sm-2 control-label">栏目简要说明</label>
                            <div class="col-lg-8">
                                @Html.TextAreaFor(s => s.Intro, new { @class = "form-control col-xs-10 col-sm-5 {maxlength:50,messages:{maxlength:'最大长度不超过50个字符'}}", @style = "margin: 0px; width: 834px; height: 127px;" })
                                @Html.ValidationMessageFor(s => s.Intro)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-save">
                                    </i>
                                    保存
                                </button>
                            </div>
                        </div>
                        <input type="hidden" asp-for="Id" />
                    </form>
                </div>
            </section>
        </div>
    </div>
    <!-- END ROW  -->
</section>