@{
    ViewBag.Title = "AccountBind";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model dynamic

<link rel="stylesheet" href="/css/style/account_bind.css">
<div class="content_right fr account_bind">
    <div class="title">账号绑定</div>
    <div class="account_list">
        <!--绑定微信-->
        <div class="account_item">
            <ul>
                <li class="">
                    @*@if (Model==null || string.IsNullOrWhiteSpace(Model.WeixinId))
                        {
                        <div class="icon_box">
                            <i class="iconfont icon-weixin2"></i>
                            <span>绑定微信</span>
                        </div>
                        <div class="bind_state">未绑定</div>

                        <div class="to_bind"><a href="javascript:" onclick="setbind(1,1)">绑定</a><i class="iconfont icon-jiantou"></i></div>
                        }
                        else
                        {
                                <div class="icon_box">
                                    <i class="iconfont icon-weixin2 bind"></i>
                                    <span title="@(Model.WeixinName)(@(Model.WeixinId))"> @(Model.WeixinName)(@(Model.WeixinId))</span>
                                </div>
                                <div class="bind_state ">已绑定</div>
                                <div class="to_bind"><a href="javascript:" onclick="setbind(2,1)">解绑</a><i class="iconfont icon-jiantou"></i></div>
                            }*@
                </li>
            </ul>
        </div>
        <!--绑定支付宝-->
        <div class="account_item">
            <ul>
                <li class="">
                    @*@if (string.IsNullOrEmpty(Model.AlipayId))
                        {*@
                    <div class="icon_box">
                        <i class="iconfont icon-zhifubao-copy"></i>
                        <span>绑定支付宝</span>
                    </div>
                    <div class="bind_state ">未绑定</div>
                    <div class="to_bind"><a href="javascript:" onclick="setbind(1,2)">绑定</a><i class="iconfont icon-jiantou"></i></div>
                    @*}
                        else
                        {
                            <div class="icon_box">
                                <i class="iconfont icon-zhifubao-copy bind"></i>
                                <span title="@(Model.AlipayName)(@(Model.AlipayId))"> @(Model.AlipayName)(@(Model.AlipayId))</span>
                            </div>
                            <div class="bind_state ">已绑定</div>
                            <div class="to_bind"><a href="javascript:" onclick="setbind(2,2)">解绑</a><i class="iconfont icon-jiantou"></i></div>
                        }*@
                </li>
                <li class="bind_tips">温馨提示：绑定账户为您可提现账户。</li>
            </ul>
        </div>
        <!--QQ和微博 暂时不做-->
    </div>
    @*<input type="hidden" class="S_UserID" value="@Model.Id" />*@
</div>
