@model IQueryable<STSys.Core.Admin.Abstractions.Entities.RoleEntity>
@using STSys.Core.Domain.Core.Common
@using STSys.Core.Admin.Application.HtmlExt
<table class="table table-striped">
    <thead>
        <tr>
            <th class="center">
                <label>
                    <input type="checkbox" class="ace" name="chk" onclick="stselect(this)">
                    <span class="lbl"></span>
                </label>
            </th>
            <th>角色名称</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="center">
                        <label>
                            <input type="checkbox" class="ace" value="@item.Id">
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.CreateTime.ToString("yyyy-MM-dd")</td>
                    <td>@item.Status.CommonState()</td>
                    <td>
                        <button class="btn  btn-info " type="button" onclick="commonOpen(this,'/role/edit?id=@item.Id')" title="编辑" data-width="700" data-height="700"><i class="fa fa-paste"></i> 编辑</button>
                        <button class="btn btn-danger" type="button" onclick="commonDelete('/role/delete', {id:'@item.Id'})"><i class="fa fa-minus"></i> 删除</button>
                        <button class="btn  btn-info " type="button" onclick="commonOpen(this,'/role/assign?id=@item.Id')" title="授权" data-width="900" data-height="700"><i class="fa fa-paste"></i> 授权</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
@Html.AjaxPager((int)ViewBag.PageSize, (int)ViewBag.TotalCount)